<h1>All Money Transactions</h1>
<h4><a href="/transactions/new"> Add New Transaction</a></h4>
<h4><a href="/merchants"> Merchant List</a></h4>
<h4><a href="/tags">Tag List</a></h4>


<hr/>

<% @transactions.each do |transaction| %>
<p>Amount: <%= transaction.amount() %> </p>
<p>Merchant: <%= Merchant.find_by_id(transaction.merchant_id).store_name %></p>
<p>Transaction Tag: <%= Tag.find_by_id(transaction.tag_id).type %></p>
<p>Transaction Time: <%= transaction.transaction_time() %> </p>
<p><a href="/transactions/<%= transaction.id %>/delete"> Delete Transaction</a></p>
<p><a href="/transactions/<%= transaction.id %>/edit"> Eidit Transaction</a></p>

<hr/>
<% end %>

<h1>Analytics</h1>


<h2 style="font-family:verdana;">Merchant</h2>
<% @merchants.each do |merchant| %>
<h3><%= merchant.store_name %></h3>
<p>Amount spent: <%= Transaction.group_by_merchant(merchant.id) %></p>
<p>Transactions made: <%= Transaction.number_by_merchant(merchant.id) %> </p>
<% end %>

<hr/>

<h2 style="font-family:verdana;">Tag</h2>
<% @tags.each do |tag| %>
<h3><%= tag.type %></h3>
<p>Amount spent: <%= Transaction.group_by_tag(tag.id) %></p>
<p>Transactions made: <%= Transaction.number_by_tag(tag.id) %> </p>
<% end %>

<hr/>
